@import url('https://rsms.me/inter/inter.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    width: 500px;
    height: 320px;
    display: flex;
    margin-left: 50px;
    margin-right: 0px;
    float: left;
}

.navbar {
    background-color: #964B00;
    box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.50);
    margin-top: 0px;
    position: relative;
}

.title-logo {
    width: 280px;
    height: 120px;
    display: flex;
    margin: auto;
}

.impact-text {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    z-index: 2;
    position: relative;
}

.text {
    margin: 0px 100px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    position: relative;
}

form {
    height: 150px;
    margin-bottom: 0px;
}

button {
    margin-top: 5px;
    margin-bottom: 0px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    background: #ffc421;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    transition: 500ms;
}

button:after {
    content: '';
    position: absolute;
    transform: translateX(-55px) translateY(-40px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 50px transparent;
    transition: 500ms;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

button:hover:after {
    transform: translateY(-5px);
    background: white;
    box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    25% {
        transform: translateX(-25px) translateY(-35px);
        width: 15px;
        height: 15px;
    }

    50% {
        transform: translateX(-55px) translateY(-30px);
        width: 5px;
        height: 5px;
    }

    75% {
        transform: translateX(-85px) translateY(-35px);
        width: 15px;
        height: 15px;
    }
}

button:focus {
    outline: none;
}

body {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url("https://image.freepik.com/fotos-gratis/seca-terra-rachada-durante-em-uma-estacao-chuvosa-porque-a-falta-de-escassez-de-chuva-de-agua-rachada-textura-do-solo_1962-1346.jpg");
    margin: 0px;
    padding: 0px;
}
.caminho {
    margin: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
    float: right;
    margin-left: 0px;
}

.img-caminho {
    width: 400px;
    height: 380px;
    display: flex;
    margin-left: 50px;
    margin-right: 0px;
    float: left;
    max-width: 100%;
}

.tag {
    transform: rotate(180deg);
    color: gray;
}

.card {
    position: absolute;
    margin: 0 auto 0 auto;
    width: 30%;
    height: 250px;
    z-index: 9999;

}

.alert {
    margin: auto;
    font-size: 25px;
    width: 50%;
    background-color: red;
}

.card-header {
    font-size: 30px;
}

.img-moeda {
    width: 30px;
    height: 30px;
}

table {
    font-size: 20px;
    width: 45%;
    background-color: #964B00;
    border-radius: 20px;
    color: black;
    padding: 5px;
    margin: auto;
    line-height: 40px;
}

.linha-clara {
    background-color: #ac5701;
}

.aresta1 {
    font-size: 25px;
    color: gray;
}

.aresta2 {
    font-size: 25px;
    color: yellow;
}

.aresta3 {
    font-size: 25px;
    color: #9E5320
}

.aresta4 {
    font-size: 25px;
    color: #9DA2EB
}

.aresta5 {
    font-size: 25px;
    color: #0066FF
}

.aresta6 {
    font-size: 25px;
    color: #80E884
}

.aresta7 {
    font-size: 25px;
    color: #F04946
}

.aresta8 {
    font-size: 25px;
    color: #E85D97
}

.aresta9 {
    font-size: 25px;
    color: #669900
}

.aresta10 {
    font-size: 25px;
    color: #ED2468
}

.aresta11 {
    font-size: 25px;
    color: #E88351
}

.aresta12 {
    font-size: 25px;
    color: #9E966F
}

.aresta13 {
    font-size: 25px;
    color: #85CBF8
}

.aresta14 {
    font-size: 25px;
    color: #EBA708
}

.aresta15 {
    font-size: 25px;
    color: #24ED65
}

.aresta16 {
    font-size: 25px;
    color: #51E8DD
}

.aresta17 {
    font-size: 25px;
    color: #4F9E95
}

.aresta18 {
    font-size: 25px;
    color: #9933FF
}

.aresta19 {
    font-size: 25px;
    color: white;
}

.group{
    float: left;
}
.resultado {
    margin-top: 20px;
    font-size: 20px;
    align-items: center;
    transform: rotate(180deg);
    color: gray;
}