@import url('https://rsms.me/inter/inter.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    width: 500px;
    height: 320px;
    display: flex;
    margin-left: 50px;
    margin-right: 0px;
    float: left;
}

.navbar {
    background-color: #964B00;
    box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.50);
    margin-top: 0px;
    position: relative;
}

.title-logo {
    width: 280px;
    height: 120px;
    display: flex;
    margin: auto;
}

form {
    height: 150px;
    margin-bottom: 0px;
}

button {
    margin-top: 5px;
    margin-bottom: 0px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    background: #ffc421;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    transition: 500ms;
}

button:after {
    content: '';
    position: absolute;
    transform: translateX(-55px) translateY(-40px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 50px transparent;
    transition: 500ms;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

button:hover:after {
    transform: translateY(-5px);
    background: white;
    box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    25% {
        transform: translateX(-25px) translateY(-35px);
        width: 15px;
        height: 15px;
    }

    50% {
        transform: translateX(-55px) translateY(-30px);
        width: 5px;
        height: 5px;
    }

    75% {
        transform: translateX(-85px) translateY(-35px);
        width: 15px;
        height: 15px;
    }
}

button:focus {
    outline: none;
}

body {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url("https://image.freepik.com/fotos-gratis/seca-terra-rachada-durante-em-uma-estacao-chuvosa-porque-a-falta-de-escassez-de-chuva-de-agua-rachada-textura-do-solo_1962-1346.jpg");
    margin: 0px;
    padding: 0px;
}


.box-body {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    border-radius: 50px;
    padding: 50px 10px;
    margin: 50px;
    height: 600px;
    position: relative;
    box-shadow:
        0 0 0 10px rgba(221, 145, 69, 0.9),
        0 0 0 15px rgba(221, 145, 69, 0.7),
        0 0 0 20px rgba(221, 145, 69, 0.5),
        0 0 0 25px rgba(221, 145, 69, 0.3),
        0 0 0 30px rgba(221, 145, 69, 0.1);
    background:
        linear-gradient(90deg, peru 50%, transparent 0) repeat-x,
        linear-gradient(90deg, peru 50%, transparent 0) repeat-x,
        linear-gradient(0deg, peru 50%, transparent 0) repeat-y,
        linear-gradient(0deg, peru 50%, transparent 0) repeat-y;
    background-size: 8px 10px, 8px 10px, 8px 10px, 8px 10px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .3s infinite linear;
}


.corner {
    background-color: rgb(134, 100, 59);
    box-shadow:
        0 0 0 10px rgba(221, 145, 69, 0.9),
        0 0 0 15px rgba(221, 145, 69, 0.7),
        0 0 0 20px rgba(221, 145, 69, 0.5),
        0 0 0 25px rgba(221, 145, 69, 0.3),
        0 0 0 30px rgba(221, 145, 69, 0.1);
    border-radius: 50px;
    padding: 50px 10px;
    height: 500px;
    position: relative;
    z-index: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes linearGradientMove {
    100% {
        background-position: 10px 0, -10px 100%, 0 -10px, 100% 10px;
    }
}

.corner::before {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(transparent, rgb(201, 160, 120, 0.5), transparent 30%);
    animation: rotate 4s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.new-text {
    margin: 0px 100px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    position: relative;
    color: white;
}

.impact-text {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    z-index: 2;
    position: relative;
}

.impact {
    color: red;
}

.victory {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.img-victory {
    width: 70%;
    margin: auto;
    margin-top: 0px;
    display: block;
}

.error {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.img-error {
    width: 50%;
    margin: auto;
    display: block;
}

.text-warning {
    color: white;
    margin: 0px 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

/* Cards Tela principal */
.headLiner{
    text-align: center;
    color: white;
    margin-top: 0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Grupo{
    justify-content: center;
    display: flex;
    vertical-align: middle;
    padding: 1.5rem;
    text-align: center;
}
.flip-container {
    width: 300px;
    height: 200px;
    margin-right: 1rem;
    perspective: 1000px;
}
.flipper{
	width: 100%;
	height: 100%;
    position: relative;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.flip-container:hover .flipper{
	transform: rotateY(180deg);
}
.front, .back{
	position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
	transform: rotateY(180deg);
}

.CardModo {
    display: block;
    margin: auto;
    border-radius: 0.55rem;
    padding: 2rem;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url("https://image.freepik.com/fotos-gratis/seca-terra-rachada-durante-em-uma-estacao-chuvosa-porque-a-falta-de-escassez-de-chuva-de-agua-rachada-textura-do-solo_1962-1346.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CardModo:hover {
    transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    cursor: pointer;
    display: block; 
}
h2{
    margin-top:0.5rem;
    margin-bottom: 0rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-weight:400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5{
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.5rem;
}
.container{
    display:block;
    max-width: 100%;
}
.number{
    margin-top: 150px;
    border-radius: 0.55rem;
    padding: 1rem;
    width: 85%;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    color:white;
    margin-right:15rem;
    text-align: justify;
    font-size:2rem;
}