<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CaveScape</title>
    <link rel="stylesheet" href="./static/css/styleGeral.css">
</head>

<body>

    <div class="navbar">
        <img class="title-logo" src="./static/img/logo_cave_scape.png">
    </div>
    <div class="box-body">
        <div class="corner">
            <h1 class="impact-text"><b><b class="impact">NOVA VERSÃO!</class></b> VOCÊ ESTÁ DENTRO DE UMA CAVERNA E
                    PRECISA ESCAPAR DELA!</b></h1>
            <p class="new-text">
                Agora há diversas maneiras de jogar! Escolha uma e escape da caverna seguindo as instruções!
            </p>

            <div class=" Grupo">
                <div class="container" onclick="location.href='http://127.0.0.1:5000/graph'">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <div class="CardModo">
                                    <img src="../static/img/graph1.png" width="220" height="220">
                                    <h5>MODO 1</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="CardModo">
                                    <h5>Esse modo é a versão original. O seu objetivo é sair da caverna testando se
                                        existem caminhos ou não entre os postos.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" onclick="location.href='http://127.0.0.1:5000/prim/1'">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <div class="CardModo">
                                    <img src="../static/img/GRAPH2.png" width="220" height="220">
                                    <h5>MODO 2</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="CardModo">
                                    <h5>Esse modo traz enigmas de Grafos 2. O seu objetivo é encontrar a saída, mas para
                                        isso é preciso encontrar as respostas em cada posto!</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <div class="CardModo">
                                    <img src="../static/img/loading.png" width="220" height="220">
                                    <h5>MODO 3</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="CardModo">
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <div class="CardModo">
                                    <img src="../static/img/loading.png" width="220" height="220">
                                    <h5>MODO 4</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="CardModo">
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" onclick="location.href='http://127.0.0.1:5000/knapsack/1'">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <div class="CardModo">
                                    <img src="./static/img/PD.PNG" width="220" height="220">
                                    <h5>MODO 5</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="CardModo">
                                    <h5>Esse modo traz enigmas de Programação Dinâmica. O seu objetivo é encontrar a
                                        saída, mas para isso solucione os enigmas! </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>